doctype html
head
body
  div
  p #{name} from #{address}, #{city} #{zip}, #{state} has sent the following request:
  li #{sizeOfLand} #{unit} of #{services}
  p #{name} is availible for a visit: #{availability}
  p Please call #{contactPhone} for immedaite answers or email #{contactEmail}
