doctype html
head
body
  div
  p A request with little to no data has been generated. Below are all items availible:
  li Name: #{name}
  li Email: #{contactEmail}
  li Phone: #{contactPhone}
  li Message: #{message}
  li Acres: #{acres}
  li Service: #{services}
